@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.back{
  background-image: url('../public/images/signup.png');
  margin-bottom: 0;
}
.logo{
  background-image: url('../public/images/logo.png');
  margin-bottom: 0;
}

.back2{
  background-image: url('../public/images/Screenshot\ from\ 2022-11-28\ 15-30-59.png');
  background-repeat: no-repeat;
  margin-top: 1px;
  height: 1000px;
  width:54%;
  flex-shrink: 0;
  border: none;
}
